.productData {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin-top: 25px;
  font-family: "JetBrains mono";
}
.singleProductImages {
  width: 50%;
}
.singleProductDetails {
  width: 50%;
  line-height: 2rem;
}
.productReviewContainer {
  width: 90%;
  margin: 0 auto;
  height: 400px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin-top: 25px;
}
.reviewLeft {
  width: 50%;
  font-family: "JetBrains mono";
}
.reviewRight {
  width: 50%;
  line-height: 2rem;
  font-family: "JetBrains mono";
  margin-top: 20px;
}

.review-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

/* media query mobile */

@media screen and (max-width: 768px) {
  .productData {
    flex-direction: column;
    height: 100%;
  }
  .singleProductImages {
    width: 100%;
  }
  .singleProductDetails {
    width: 100%;
  }
  .productReviewContainer {
    flex-direction: column;
    height: 100%;
  }
  .reviewLeft {
    width: 100%;
  }
  .reviewRight {
    width: 100%;
  }
}
