.pwd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgotPwd {
  width: 50%;
  height: 600px;
  font-family: "JetBrains mono";
  background-color: #ccffcc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 2px solid;
  box-shadow: 5px 5px;
}
.forgotPwd h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "JetBrains mono";
  margin-bottom: 20px;
}

.email-input {
  padding: 15px;
  width: 80%;
}
/* 
  media query mobile */

@media screen and (max-width: 600px) {
  .forgotPwd {
    width: 80%;
    height: 50%;
    margin-top: 0px;
  }
  .forgot-pwd {
    width: 50%;
    font-size: 12px;
  }
}
