*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.forgotPwd {
    width: 50%;
    margin: 0 auto;
    height: 600px;
    font-family: "JetBrains mono";
    background-color: #ccffcc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .forgotPwd h1 {
    text-align: center;
    margin-top: 20px;
    font-family: "JetBrains mono";
    margin-bottom: 20px;
  }
  