.contactContainer {
  width: 50%;
  height: 75%;
  margin: 0 auto;
  border: 1px solid;
  padding: 10px;
  font-family: "JetBrains Mono";
  box-shadow: 10px 10px;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #ccffcc;
}

.icon-contact {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

input,
textarea {
  margin-top: 5%;
  width: 100%;
  margin-bottom: 5%;
}

input {
  height: 25px;
}

label,
p {
  font-size: 20px;
  margin-top: 15px;
}

.title-contact {
  font-size: 40px;
  font-weight: bold;
  font-family: "JetBrains Mono";
}

.contactCard {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.contactForm {
   border-right: 3px solid; 
  padding-right: 30px;
  font-family: "JetBrains Mono";
}
.contactAbout {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  font-family: "JetBrains Mono";
  border: 3px solid;
  background-color: #46e9c0;
  padding: 100px;
}
.contactAbout h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: "JetBrains Mono";
  font-size: 55px;
}

/* Scroolbar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1fab89;
}

/* media query */

@media screen and (max-width: 768px) {
  .contactContainer {
    width: 65%;
    height: 80%;
    margin: 0 auto;
    /* border: 1px solid; */
    padding: 10px;
    font-family: "JetBrains Mono";
    box-shadow: 10px 10px;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: #ccffcc;
  }
  .contactCard {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contactForm{
    border-right: none;
  }
  .contactAddress{
    font-size: 1rem;
    margin: 15px;
  }
  .contactAddress p {
    font-size: 1rem;
    margin: 15px;
  }
  .contactAbout {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    font-family: "JetBrains Mono";
    /* border: 3px solid; */
    background-color: #46e9c0;
    padding: 100px;
  }
  .contactAbout h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "JetBrains Mono";
    font-size: 2rem;
  }
  .contactAbout p {
    text-align: center;
    font-size: 0.8rem;
  }
}


/* media query tablet ipad */

@media screen and (max-width: 1024px) {
  .contactContainer {
    width: 65%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid; 
    padding: 10px;
    font-family: "JetBrains Mono";
    box-shadow: 10px 10px;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: #ccffcc;
    margin-top: 90px;
  }
  .contactCard {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contactAddress{
    font-size: 1rem;
    margin: 15px;
  }
  .contactAddress p {
    font-size: 1rem;
    margin: 15px;
  }
  .contactAbout {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    font-family: "JetBrains Mono";
    border: 3px solid; 
    background-color: #46e9c0;
    padding: 100px;
  }
  .contactAbout h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "JetBrains Mono";
    font-size: 2rem;
  }
  .contactAbout p {
    text-align: center;
    font-size: 0.8rem;
  }
}