/* .footer {
  height: 20%;
  bottom: 0;
  background-color: #9df3c4;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-text {
  font-size: 20px;
  font-weight: bold;
  font-family: roboto mono;
  margin: 20px;
  width: 600px;
}

.fList li {
  list-style: none;
  font-family: "Roboto Mono", monospace;
}
.fIcons {
  width: 300px;
  font-size: 30px;
  cursor: pointer;
  margin: 20px;
}

.facebook,
.instagram,
.twitter {
  margin: 15px;
}

.vertical-line {
 display: none;
} 
.fIcons {
  display: flex;
  justify-content: space-between;
  margin-left: 70%;
} */

.footer {
  width: 100%;
  height: 120px;
  background-color: #9df3c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid;
  position: absolute;
}

.copy, .footer-text{
  font-family: 'JetBrains mono';
  font-size: 1vw;
}

.copy{
  font-size: 0.90vw;
  margin-top: 20px;
}

.footer-text{
  font-weight: 800;
  text-decoration: underline;
  font-size: 1.2vw;
  line-height: 2;
}

.vertical-line{
  border-left: 2px solid black;
  height: 50px;
  margin: 0 20px;
}

.instagram {
  font-size: 2rem;
  color: black;
  margin: 10px;
  border-radius: 20%;
}
.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  border-radius: 20%;
  transform: scale(1.5);
}
.facebook {
  font-size: 2rem;
  color: black;
  margin: 10px;
  border-radius: 20%;
}
.facebook:hover {
  background: white;
  color: #4267b2;
  border-radius: 20%;
  transform: scale(1.5);
}
.twitter {
  font-size: 2rem;
  color: black;
  margin: 10px;
  border-radius: 20%;
}
.twitter:hover {
  color: #1da1f2;
  border-radius: 20%;
  transform: scale(1.5);
}
.logo{
  display: flex;
  justify-content: right;
}
.logopicture {
  width: 150px;
  height: 100px;
  border: 1px solid;
}


/* media query */

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 25%;
  }
  .fIcons {
    margin-left: 10%;
    /* margin-top: 150px; */
  }
  .vertical-line {
    display: none;
  }
  .footer-text {
    font-size: 0.65rem;
  }
}

/* media query ipad */

@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    height: 15%;
  }
  .fIcons {
    margin-left: 10%;
    /* margin-top: 150px; */
  }
  .vertical-line {
    display: none;
  }
  .footer-text {
    font-size: 0.7rem;
  }
}

@media (hover: hover) {
  .facebook:hover {
    background: white;
    color: #4267b2;
    border-radius: 20%;
    transform: scale(1.5);
  }
  .instagram:hover {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    color: white;
    border-radius: 20%;
    transform: scale(1.5);
  }
  .twitter:hover {
    color: #1da1f2;
    border-radius: 20%;
    transform: scale(1.5);
  }
}
