.footer {
  width: 100%;
  height: 200px;
  background-color: #9df3c4;
  display: flex;
  justify-content: center;
  border: 2px solid;
  align-items: center;
}

.footer-text {
  font-size: 15px;
  font-weight: 500;
  font-family: roboto mono;
  margin: 10px;
  padding: 10px;
}

.fList li {
  list-style: none;
  font-family: "Roboto Mono", monospace;
}
.fIcons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
  cursor: pointer;
}

.facebook, .instagram, .twitter {
  margin: 15px;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
  color: #17755e;
  transition: 0.5s;
  transform: scale(1.5);
}

.vertical-line {
  border-left: 1px solid black;
  height: 100px;
  margin-top: 50px;
}
.fIcons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 70%;
}
