.footer {
  width: 100%;
  height: 20%;
  background-color: #9df3c4;
  display: flex;
  justify-content: center;
  border: 2px solid;
  align-items: center;
}

.footer-text {
  font-size: 15px;
  font-weight: 500;
  font-family: roboto mono;
  margin: 10px;
  padding: 10px;
}

.fList li {
  list-style: none;
  font-family: "Roboto Mono", monospace;
}
.fIcons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
  cursor: pointer;
}

.facebook, .instagram, .twitter {
  margin: 15px;
}

.vertical-line {
  border-left: 1px solid black;
  height: 100px;
  margin-top: 50px;
}
.fIcons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 70%;
}

.instagram{
  font-size: 2rem ;
  color: black;
  margin: 10px;
  border-radius: 20%;
}
.instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  border-radius: 20%;
  transform: scale(1.5);
}
.facebook{
  font-size: 2rem ;
  color: black;
  margin: 10px;
  border-radius: 20%;
}
.facebook:hover{
  background:white;
  color: #4267B2;
  border-radius: 20%;
  transform: scale(1.5);
}
.twitter{
  font-size: 2rem ;
  color: black;
  margin: 10px;
  border-radius: 20%;
}
.twitter:hover{
  color: #1DA1F2;
  border-radius: 20%;
  transform: scale(1.5);
}

/* media query */

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 25%;
  }
  .fIcons {
    margin-left: 10%;
    /* margin-top: 150px; */
  }
  .vertical-line {
    display: none;
  }
  .footer-text {
    font-size: 0.65rem;
  }
}