.cartContainer {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 50px;
  font-family: monospace;
  overflow: hidden;
}
.yourCart h1 {
  margin-left: 15%;
  margin-top: 8em;
}
.cartLeft img {
  width: 150px;
  height: 150px;
  border: 1px solid;
}
.cartLeft {
  width: 60%;
  margin-top: 50px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}
.cartLeft-items {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 50px;
  padding: 10px;
  border-bottom: 1px solid;
  position: relative;
}
.deleteBtn {
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
  font-size: 20px;
}
.cartRight {
  width: 20%;
  line-height: 3rem;
  border: 2px solid;
  padding: 10px;
  height: 450px;
  position: fixed;
  right: 10%;
  top: 25%;
  text-align: center;
  background-color: aquamarine;
  box-shadow: 5px 5px;
  border-radius: 15px;
  overflow: hidden;
}

.cartQuantityContainer .cartBtn {
  width: 50px;
  height: 30px;
  border: 2px solid;
  box-shadow: none;
  margin-right: 10px;
}
.cartQuantityContainer {
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


/* media query ipad */

@media screen and (max-width: 1024px) {
  .cartContainer {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .cartLeft {
    width: 100%;
    margin-left: 0;
  }
  .cartRight {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }
}

/* media query phone */

@media screen and (max-width: 768px) {
  .cartContainer {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .cartLeft {
    width: 100%;
    margin-left: 0;
  }
  .cartRight {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }
}