
body{
  background:#FFFDEC ;
}

.bannerBackground {
  background-image: url("../../images/Rectangle\ 3.png");
  width: 100%;
  height: 400px;

.bannerBackground {
  background-image: url("../../images/Rectangle\ 3.png");
  width: 100%;
  height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid;
}

.bannerContainer {
  width: 70%;
  height: 280px;
  margin: 0 auto;
  background-color: #FFFDEC;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  padding: 1em;
}

.bannerText{
  text-align: center;

}

.bannerContainer {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  background-color: palegoldenrod;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;

}
span {
  font-family: "Londrina Shadow", cursive;
}
.banner-left {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.banner-right {

  width: 20%;
  padding: 20px 20px 50px 10px; 
  border: 2px solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px;

}

.banner-right img {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  width: 50%;
}

.banner-right img {
  width: 50%;
  border: 1px solid black;
  background-color: white;
  margin-left: 25%;
  height: 200px;
  padding: 10px;
  box-shadow: 5px 5px;

}

button {
  text-align: center;
  margin: 0 auto;
  width: 200px;

  height: 40px;

  height: 30px;

  border: 2px solid black;
  border-radius: 8px;
  font-family: "JetBrains Mono", monospace;
  box-shadow: 5px 5px;

  font-size: 20px;
  cursor: pointer;
  background: #f5f2fd;
}

button:hover{
  background-color: #b59bfb;
  color: white;
  box-shadow: 5px 5px;
}


}

h1 {
  font-family: "Roboto Mono", monospace;
}

hr {
  border: 2px solid black;
  width: 90%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.spanArrow {
  margin-left: 20px;
}
