.loginContainer {
  width: 50%;
  margin: 0 auto;
  height: 70%;
  font-family: "JetBrains mono";
  background-color: #ccffcc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.loginContainer h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "JetBrains mono";
  margin-bottom: 20px;
}

.signup-text{
    margin-top: 20px;
    font-family: "JetBrains mono";
    margin-bottom: 20px;
    text-align: center;
}

.social-media-btn {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-btn {
  background-color: #2e43ff;
  margin-bottom: 10px;

}

.facebook-btn:hover {
  background-color: #6e7cfb;
}

.google-btn {
  background-color: #f27070;
  margin-bottom: 20px;
}

.google-btn:hover {
  background-color: #f2a0a0;
}

.face, .googleicon{
    margin-left: 5px;
}
.forgotP{
  cursor: pointer;
  font-family: "JetBrains mono";
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 16px;
}

.here{
  cursor: pointer;
  color: rgb(255, 0, 212);
  font-size: 20px;
  text-decoration: underline;
}

h3{
  font-family: "JetBrains mono";
  margin-bottom: 20px;
  text-align: center;
}

.btn-2{
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-family: "JetBrains mono";
  margin-bottom: 20px;
  background-color: aquamarine;
}
@media screen and (max-width: 768px) {
  .loginContainer {
    width: 100%;
    height: 100%;
  }
 

}

/* media querys ipad */

@media screen and (max-width: 1024px) {
  .loginContainer {
    width: 100%;
    height: 100%;
  }
}