.bestSellerContainer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 1000px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.bestsellerh1 {
  text-align: center;
  font-family: "Londrina Shadow", cursive;
  font-size: 90px;

  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bestSeller-left {
  width: 25em;
  height: 200px;
  margin: 50px;
}
.bestSeller-right {
  width: 40%;
  height: 200px;
}

.bestSeller-left img {
  width: 300px;
  height: 250px;
  border: 2px solid black;
  margin-top: 30px;
}

.img-1 {
  background-color: white;
  width: 650px;
  height: 350px;
  border: 2px solid black;
  padding: 50px 50px 50px 50px;
  box-shadow: 10px 10px;
  margin-bottom: 50px;
}
.img-2 {
  background-color: white;
  width: 650px;
  height: 350px;
  border: 2px solid black;
  padding: 50px 50px 50px 50px;
  box-shadow: 10px 10px;
}
.img-3 {
  background-color: white;
  width: 350px;
  height: 350px;
  border: 2px solid black;
  padding: 30px 70px 20px 10px;
  box-shadow: 10px 10px;
  margin-bottom: 50px;
}
.img-4 {
  background-color: white;
  width: 350px;
  height: 350px;
  border: 2px solid black;
  padding: 3px 30px 20px 10px;
  box-shadow: 10px 10px;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover {
  animation: pulse;
  animation-duration: 1s;
  cursor: pointer;
}

.bestSeller-right img {
  width: 500px;
  height: 275px;
  border: 2px solid black;
}
