* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landingNavbar {
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0 auto;
  background-color: antiquewhite;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  justify-content: space-around;
}
.landingUl li {
  margin: 20px;
  margin-right: 50px; 
  list-style: none;
  display: inline-block;
  align-items: center;
}

.landingSearch input[type="search"] {
  width: 50%;
  height: 42px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;

.landingNavbar{
    width:100%;
    height: 60px;    
    display: flex;
    margin: 0 auto;
    background-color: #9DF3C4;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    justify-content: space-around; 
}
.landingUl li{
    margin:20px;
    margin-right: 50px;
 /*    width: 100px; */
    list-style: none;
    display: inline-block;
    align-items: center;

    cursor: pointer;
    
}

li:hover{
    color: white;
    background-color: #1FAB89;
    padding: 5px;
    border-radius: 5px;

}


    



.landingSearch input[type=search]{
    width: 50%;
    height: 42px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    outline: none;
   

}
.landingSearch {
  width: 30%;
}
.landingCart {
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}


.landingCart{
    width: 200px;
    margin: 20px;
    display: flex;
    justify-content: space-around;

    cursor: pointer;


}

