* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.landingNavbar {
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0 auto;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  justify-content: space-around;
  border: 2px solid;
  background: #9df3c4;
}
.landingUl li {
  margin: 20px;
  margin-right: 50px;
  list-style: none;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

li:hover {
  color: white;
  background-color: #1fab89;
  padding: 5px;
  border-radius: 5px;
}

.landingSearch input[type="search"] {
  width: 50%;
  height: 42px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
.landingSearch {
  width: 30%;
}
.landingCart {
  width: 150px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-size: 25px;
}

.user:hover,
.cart:hover {
  color: white;
  background-color: #1fab89;
  padding: 5px;
  border-radius: 5px;
}

.mobile-navigation {
  display: none;
}

/* responsiveness navbar for mobile - hamburger menu */

@media screen and (max-width: 890px) {
  .hamburger{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
  }
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 600px;
    top: 60px;
    left: 0;
    width: 80%;
    background-color: #9df3c4;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    z-index: 420;
  }
  li:hover {
    color: white;
    background-color: #1fab89;
    padding: 5px;
    border-radius: 5px;
  }
  .landingSearch {
    display: none;
  }
}
