* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.landingNavbar {
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  margin: 0 auto;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  justify-content: space-around;
  border: 2px solid;
  background: #9df3c4;
}
.landingUl li {
  margin: 20px;
  margin-right: 50px;
  list-style: none;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

li:hover {
  color: white;
  background-color: #1fab89;
  padding: 5px;
  border-radius: 5px;
}

.landingSearch input[type="search"] {
  width: 50%;
  height: 42px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
.landingSearch {
  width: 30%;
}
.landingCart {
  width: 12em;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-size: 14px;
}

.cart{
  position: relative;
}

.qty-num{
  position: absolute;
  top: 10px;
  right: 70px;
  background-color: #1fab89;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.user:hover,
.cart:hover {
  color: white;
  background-color: #1fab89;
  padding: 5px;
  border-radius: 5px;
}

.mobile-navigation {
  display: none;
}

/* responsiveness navbar for mobile - hamburger menu

@media screen and (max-width: 890px) {
  .hamburger{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 3vw;
    margin: 15px;
  }
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.8vw;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100vh;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #9df3c4;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    z-index: 420;
  }
  li:hover {
    color: white;
    background-color: #1fab89;
    padding: 5px;
    border-radius: 5px;
  }
  .landingSearch {
    display: none;
  }
  .cart{
    position: relative;
  }

} */

/* responsiveness navbar for ipad - hamburger menu */

@media screen and (max-width: 1024px) {
  .hamburger{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2vw;
  }
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.8vw;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100vh;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #9df3c4;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    z-index: 420;
  }
  li:hover {
    color: white;
    background-color: #1fab89;
    padding: 5px;
    border-radius: 5px;
  }
  .landingSearch {
    display: none;
  }

  .cart{
    position: relative;
  }
  .qty-num{
    position: absolute;
    top: 10px;
    right: 150px;
    background-color: #1fab89;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}


/* media query for mobile */

@media screen and (max-width: 600px) {
  .hamburger{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2vw;
    margin-top: 15px;
  }
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.8vw;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100vh;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #9df3c4;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    z-index: 420;
  }
  li:hover {
    color: white;
    background-color: #1fab89;
    padding: 5px;
    border-radius: 5px;
  }
  .landingSearch {
    display: none;
  }
  .cart{
    position: relative;
  }
  .qty-num{
    position: absolute;
    top: 10px;
    right: 60px;
    background-color: #1fab89;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}