.resetPwd{
    width: 50%;
    margin: 0 auto;
    height: 600px;
    font-family: "JetBrains mono";
    background-color: #ccffcc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


  }

  .resetForm {
    width: 50%;
    margin: 0 auto;
    height: 600px;
    font-family: "JetBrains mono";
    background-color: #ccffcc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

  }