.pwd-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

  .resetForm {
    width: 50%;
    margin: 0 auto;
    height: 600px;
    font-family: "JetBrains mono";
    background-color: #ccffcc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px solid;
    box-shadow: 5px 5px;

  }

  /* media query mobile */

  @media screen and (max-width: 600px) {
    .resetForm {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      font-family: "JetBrains mono";
      background-color: #ccffcc;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      border: 2px solid;
      box-shadow: 5px 5px;
    }
  }