.productContainer {
  width: 90%;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  font-family: 'JetBrains mono';
}

.selectionCriteria {
  width: 30%;
  height: 900px;
  padding: 90px;
  border-right: 1px solid;
  margin-bottom: 20px;

}


.categories{
  border: 3px solid;
  padding: 20px;
  box-shadow: 5px 5px;
  border-radius: 10px;
  background-color:#9DF3C4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 30px;
  
}
.selectionCheckbox {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-left: 20px;
  line-height: 1.4rem;
}
input[type="checkbox"] {
  margin-right: 5px;

}

select{
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-left: 20px;
  line-height: 1.4rem;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 5px 5px;
  background-color:#9DF3C4;
  margin-top: 8px;
  font-family: 'JetBrains mono';
  font-size: 20px;
}


.productDisplay {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.cardContainer {
  width: 25%;
  height: 350px;
  border: 3px solid;
  padding: 15px;
  background: whitesmoke;
  box-shadow: 5px 5px;
}
.cardContainer img {
  width: 220px;
  height: 200px;
  border: 3px solid;
}

.heart{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgba(243, 53, 170, 0.889);
}

.heart:hover{
  color: palevioletred;
}