.productContainer {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "JetBrains mono";
}

.selectionCriteria {
  width: 30%;
  height: 100vw;
  padding: 90px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.categories {
  border: 3px solid;
  padding: 20px;
  box-shadow: 5px 5px;
  border-radius: 10px;
  background-color: #9df3c4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 30px;
}
.selectionCheckbox {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-left: 20px;
  line-height: 1.4rem;
}
input[type="checkbox"] {
  margin-right: 5px;
}

select {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  margin-left: 20px;
  line-height: 1.4rem;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 5px 5px;
  background-color: #9df3c4;
  margin-top: 8px;
  font-family: "JetBrains mono";
  font-size: 1vw;
}

option {
  font-family: "JetBrains mono";
  font-size: 20px;
}

.productDisplay {
  width: 70em;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 30%;
}
.cardContainer {
  width: 25%;
  height: 350px;
  border: 3px solid;
  padding: 12px;
  background: whitesmoke;
  box-shadow: 5px 5px;
}
.cardContainer:hover {
  cursor: pointer;
}
.cardContainer img {
  width: 70%;
  height: auto;
  border: 3px solid;
}

.heart {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgba(243, 53, 170, 0.889);
}

.heart:hover {
  color: palevioletred;
}

.cardContainer h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1vw;
  font-weight: bold;
}

.product-price {
  font-size: 0.9vw;
}

/* media query mobile */

@media screen and (max-width: 768px) {
  .productContainer {
    width: 100%;
    height: 100vw;
    display: flex;
    gap: 10px;
    font-family: "JetBrains mono";
  }

  .selectionCriteria {
    width: 100vw;
    height: 200vw;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .categories {
    border: 3px solid;
    box-shadow: 5px 5px;
    border-radius: 10px;
    background-color: #9df3c4;
    margin-bottom: 20px;
    margin-right: 25%;
    width: min-content;
  }

  h4 {
    margin-bottom: 30px;
  }
  .selectionCheckbox {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-left: 20px;
    line-height: 1.4rem;
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }

  select {
    width: 100%;
    height: auto;
    padding: 10px;
    line-height: 1.4rem;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 5px 5px;
    background-color: #9df3c4;
    margin-top: 15px;
    font-family: "JetBrains mono";
    font-size: 14px;
  }

  option {
    font-family: "JetBrains mono";
    font-size: 20px;
  }

  .productDisplay {
    width: 70em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 0%;
    margin-top: 80%;
  }
  .cardContainer {
    width: 45%;
    height: 350px;
    border: 3px solid;
    padding: 12px;
    background: whitesmoke;
    box-shadow: 5px 5px;
  }
  .cardContainer:hover {
    cursor: pointer;
  }
  .cardContainer img {
    width: 70%;
    height: auto;
    border: 3px solid;
  }

  .cardContainer h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product-title {
    font-size: 14px;
    font-weight: bold;
  }

  .product-price {
    font-size: 12px;
  }
}
